version: '3'
services:
  backend:
    build: .
    ports:
      - '5000:5000'
    environment:
      - DATABASE_URI=mongodb://mongodb:27017/mydatabase
  frontend:
    build: ./frontend
    ports:
      - '3000:3000'
  mongodb:
    image: mongo
    ports:
      - '27017:27017'